[Desktop Entry]
Type=Application
Name=Brave Browser
Exec=sh -c 'exec $(command -v brave-browser || command -v brave) --password-store=gnome'
Icon=brave-browser
Categories=Network;WebBrowser;
Terminal=false
